.light-well {
  background-color: $background-color;
  padding: 15px;
}

.centered-light-block {
  text-align: center;
  color: $gl-gray;
  margin: 20px;
}

.nothing-here-block {
  text-align: center;
  padding: 20px;
  color: $gl-gray;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
}

.gray-content-block {
  margin-top: 0;
  margin-bottom: -$gl-padding;
  background-color: $background-color;
  padding: $gl-padding;
  margin-bottom: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  color: $gl-gray;

  &.oneline-block {
    line-height: 42px;
  }

  &.white {
    background-color: white;
  }

  &.top-block {
    border-top: none;
  }

  &.middle-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.clear-block {
    margin-bottom: $gl-padding - 1px;
    padding-bottom: $gl-padding;
  }

  &.second-block {
    margin-top: -1px;
    margin-bottom: 0;
  }

  &.footer-block {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: -$gl-padding;
  }

  .title {
    color: $gl-text-color;
  }

  .oneline {
    line-height: 35px;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  .block-controls {
    float: right;

    .control {
      float: left;
      margin-left: 10px;
    }
  }
}

.cover-block {
  text-align: center;
  background: $background-color;
  padding-top: 44px;
  position: relative;

  .avatar-holder {
    margin-bottom: 16px;

    .avatar, .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      @include border-radius(50%);
    }
  }

  .cover-title {
    color: $gl-header-color;
    margin: 0;
    font-size: 23px;
    font-weight: normal;
    margin: 16px 0 5px;
    color: #4c4e54;
    font-size: 23px;
    line-height: 1.1;

    h1 {
      color: #313236;
      margin-bottom: 6px;
      font-size: 23px;
    }

    .visibility-icon {
      display: inline-block;
      margin-left: 5px;
      font-size: 18px;
      color: $gray;
    }

    p {
      padding: 0 $gl-padding;
      color: #5c5d5e;
    }
  }

  .cover-desc {
    padding: 0 $gl-padding 3px;
    color: $gl-text-color;

    &.username:last-child {
      padding-bottom: $gl-padding;
    }
  }

  .cover-controls {
    position: absolute;
    top: 10px;
    right: 10px;

    &.left {
      left: 10px;
      right: auto;
    }
  }
}

.block-connector {
  margin-top: -1px;
}

.nav-block {
  .controls {
    float: right;
    margin-top: 11px;
  }
}

.content-block {
  padding: $gl-padding 0;
  border-bottom: 1px solid $border-color;

  &.oneline-block {
    line-height: 36px;
  }

  > .controls {
    float: right;
  }
}

.content-block-small {
  padding: 10px 0;
}
